<!-- <div class="page"> -->
<div id="frontpage">
  <img src="{{ "/assets/img/mehackit_logo_purple.png" | prepend: site.baseurl }}" width="50%">
  <!-- <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" width="25%"> -->
  <h2>{% if page.lang == "fi" %} {{ site.description_fi }} {% elsif page.lang == "en" %} {{ site.description }} {% else %} {{ site.description_no }} {% endif %}</h2><br>
  <iframe width="85%" height="400" src="https://www.youtube.com/embed/fzw3Kzyyw48" frameborder="0" allowfullscreen></iframe>
</div>
<!-- </div> -->

{% assign exercises = site.exercises | where: "lang", page.lang %}
{% assign next = exercises | first %}
<a href="{{ next.url | prepend: site.baseurl }}" class="exercise-nav nav-next" aria-label="Next: {{ next.title }}">
  <i class="fa fa-angle-right"></i>
  <img id="click_here_img" src="{{ "/assets/img/click_here.png" | prepend: site.baseurl }}">
  <script type="text/javascript">
    setTimeout(function(){ $('#click_here_img').fadeIn(500); }, 5000);
    setTimeout(function(){ $('#click_here_img').fadeOut(500); }, 15000);
  </script>
</a>
