<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
  <!-- <div class="page-wrapper"> -->

    {% include sidebar.html %}

    <div class="content container">

      <div class="lang">
        {% if page.lang == "fi" %}
          <a href="{{ '/index.html' | prepend: site.baseurl }}">in english</a> 
          <a href="{{ '/index_se.html' | prepend: site.baseurl }}">svenska</a>
          <a href="{{ '/index_no.html' | prepend: site.baseurl }}">norsk</a>
          <a href="{{ '/index_kr.html' | prepend: site.baseurl }}">korean</a>
        {% elsif page.lang == "en" %}
          <a href="{{ '/index_fi.html' | prepend: site.baseurl }}">suomeksi</a> 
          <a href="{{ '/index_se.html' | prepend: site.baseurl }}">svenska</a>
          <a href="{{ '/index_no.html' | prepend: site.baseurl }}">norsk</a>
          <a href="{{ '/index_kr.html' | prepend: site.baseurl }}">korean</a>
        {% elsif page.lang == "kr" %}
          <a href="{{ '/index.html' | prepend: site.baseurl }}">in english</a>
          <a href="{{ '/index_fi.html' | prepend: site.baseurl }}">suomeksi</a>
          <a href="{{ '/index_se.html' | prepend: site.baseurl }}">svenska</a>
          <a href="{{ '/index_no.html' | prepend: site.baseurl }}">norsk</a>
        {% elsif page.lang == "se" %}
          <a href="{{ '/index_fi.html' | prepend: site.baseurl }}">suomeksi</a>
          <a href="{{ '/index_no.html' | prepend: site.baseurl }}">norsk</a>
          <a href="{{ '/index.html' | prepend: site.baseurl }}">in english</a>
          <a href="{{ '/index_kr.html' | prepend: site.baseurl }}">korean</a>
        {% else %}
          <a href="{{ '/index.html' | prepend: site.baseurl }}">in english</a> 
          <a href="{{ '/index_fi.html' | prepend: site.baseurl }}">suomeksi</a>
          <a href="{{ '/index_se.html' | prepend: site.baseurl }}">svenska</a>
          <a href="{{ '/index_kr.html' | prepend: site.baseurl }}">korean</a>
        {% endif %}
      </div>

      {{ content }}
      
    </div>

    {% include scripts.html %}
  <!-- </div> -->
</body>
</html>
