<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
  <!-- <div class="page-wrapper"> -->

  {% include sidebar.html %}

  <div class="content container">

    <div class="lang">
      <div id="custom-select">
        
        <select id="language" onchange="window.location.href=this.value">
          <option selected>Language: </option>
          <option value="{{ '/index_fi.html' | prepend: site.baseurl }}" >
            suomeksi</option>
          <option value="{{ '/index.html' | prepend: site.baseurl }}" >in
            english</option>
          <option value="{{ '/index_se.html' | prepend: site.baseurl }}" >
            svenska</option>
          <option value="{{ '/index_no.html' | prepend: site.baseurl }}" >
            norsk</option>
          <option value="{{ '/index_kr.html' | prepend: site.baseurl }}" >
            korean</option>
          <option value="{{ '/index_fr.html' | prepend: site.baseurl }}" >
            français</option>
          <option value="{{ '/index_es.html' | prepend: site.baseurl }}" >
            español</option>
          <option value="{{ '/index_cat.html' | prepend: site.baseurl }}"
            >
            català</option>
          <option value="{{ '/index_ja.html' | prepend: site.baseurl }}" >
            japanese</option>
          <option value="{{ '/index_ch.html' | prepend: site.baseurl }}" >
            chinese(trad)</option>
          <option value="{{ '/index_chs.html' | prepend: site.baseurl }}"
            >chinese(simplified)</option>
          <option value="{{ '/index_sme.html' | prepend: site.baseurl }}"
            >davvisámegiella</option>
          <option value="{{ '/index_hi.html' | prepend: site.baseurl }}" >
            hindi</option>

        </select>
      </div>
    </div>

    {{ content }}

  </div>

  {% include scripts.html %}
  <!-- </div> -->
</body>

</html>